<html>
<head>
	<title>Search Results</title>
<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
<style type="text/css">
      html {font-family: 'Questrial', sans-serif;}
</style>
</head>
	<div class="nav">
	<ol id="nav">
      <li><a href="/">HOME</a></li>
      <li><a href="login">REGISTER<br>LOGIN</a></li>
      <li><a href="profile">PROFILE</a></li>
      <li><a href="flight">FLIGHTS</a></li>
      <li><a href="hotel">HOTELS</a></li>
      <li><a href="event">EVENTS</a></li>
	</ol>
	</div><br><br><br>

<h1>Search Results...</h1>
<% @hotelList.each do |hotel| %>
<table style="width: 100%;">
<tbody>
<tr>
  <td><h2>Hotel Name</h2></td>
  <td><h2>City</h2></td>
<td><h2>Rate</h2></td>
</tr>
<tr>
<td><h3><%= hotel["name"] %></h3></td>
<td><h3><%= hotel["city"] %></h3></td>
<td><h3>USD <%= hotel["RoomRateDetailsList"]["RoomRateDetails"]["RateInfos"]["RateInfo"]["ChargeableRateInfo"]["@averageRate"]%></h3></td>
</tr>
</tbody>
</table>
<p><%= hotel["hotelId"] %></p>
<p><%= hotel["supplierType"] %></p>
<p>Rate Key: <%= hotel["RoomRateDetailsList"]["RoomRateDetails"]["RateInfos"]["RateInfo"]["RoomGroup"]["Room"]["rateKey"] %></p>
<p>Room Type Code: <%= hotel["RoomRateDetailsList"]["RoomRateDetails"]["roomTypeCode"] %></p>
<p>Rate Code: <%= hotel["RoomRateDetailsList"]["RoomRateDetails"]["rateCode"]%></p>

<form action="">
      <input type="hidden" name="hotelId" value= <%= hotel["hotelId"] %>>
      <input type="hidden" name="supplierType" value= <% hotel["supplierType"] %>>
      <input type="hidden" name="rateKey" value= <%hotel["RoomRateDetailsList"]["RoomRateDetails"]["RateInfos"]["RateInfo"]["RoomGroup"]["Room"]["rateKey"] %>>
      <input type="hidden" name="roomTypeCode" value= <% hotel["RoomRateDetailsList"]["RoomRateDetails"]["roomTypeCode"] %>>
      <input type="hidden" name="rateCode" value= <% hotel["RoomRateDetailsList"]["RoomRateDetails"]["rateCode"]%>>

<a href="book"><button>Book Now</button></a>
</form>
<hr>
<% end %>

</html>