<html>
<head>
<link rel="stylesheet" href="stylesheets/login.css">
	<title>Login</title>
	<img src="/assets/logo_1.png" height="100px">
</head>
<body>
<div class="container">
	<div>
		<ul id="nav">
			<a href="/"><img class="pure-img" src="assets/home.png" height="100px"></a>
			<a href="login"><img src="assets/signin.png" height="100px"></a>
			<a href="profile"><img src="assets/account.png" height="100px"></a>
			<a href="flight"><img src="assets/flight.png" height="100px"></a>
			<a href="hotel"><img src="assets/hotel.png" height="100px"></a>
			<a href="event"><img src="assets/event.png" height="100px"></a>
			<a href='logout'><button>Log Out</button></a>
		</ul>
	</div>
	<div class="login">
		<form method="post" action="/login">
			<h1>Login</h1>
			<%= csrf_meta_tags %>
			<label>Email </label>
			<input id="emaillogin" name="emaillogin" required="required" type="text" placeholder="Email" />

			<label> Password</label>
			<input id="passwordlogin" name="passwordlogin" required="required" type="password" placeholder="Password"/> 

			<button type="submit">Login</button>
			<input type="checkbox" checked="checked">Remember Me
		</form>
	</div>
	<div class="login">
		<span class="password">Forgot <a href="#">password?</a></span>
	</div>
	<div class="row">
	  <div class="signin">
	  	<% if flash[:errors] %>
			<% flash[:errors].each do |error| %>
				<p><%= error %></p>
			<% end %>
		<% end %>

	    <%= form_for(@user) do |f| %>
	      <%= f.label :name %>
	      <%= f.text_field :name %>

	      <%= f.label :email %>
	      <%= f.email_field :email %>

	      <%= f.label :password %>
	      <%= f.password_field :password %>

	      <%= f.label :password_confirmation, "Confirmation" %>
	      <%= f.password_field :password_confirmation %>

	      <%= f.submit "Create my account", class: "btn btn-primary" %>
	    <% end %>
	</div>
</div>
</body>
</html>